# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
static/

# Если вы используете PyCharm
.idea/
*.iml

# Если вы используете VS Code
.vscode/
*.code-workspace

# Виртуальные окружения
venv/
ENV/

# Docker
.dockerignore

# Игнорируем файлы окружения
.env
.env.*
!.env.example

# OS файлы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Статические файлы скачиваемые скриптом
static/css/
static/js/
static/icons/

# Project specific
TODO.md 